* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 3px 10px;
  position: relative;
}

button {
  background-color: #A6641E;
  border-radius: 25px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  padding: 5px;
  width: 110px;
}

button:hover {
  background-color: #533207;
}

fieldset {
  border-color: #533207;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
}

form {
  margin: 10px 0;
}

header {
  height: 16%;
}

h1 {
  color: #533207;
  font-size: 27px;
}

img {
  height: 98px;
  width: 237px;
}

input {
  border: 1px solid #533207;
  border-radius: 25px;
  font-size: 12px;
  height: 35px;
  padding: 7px;
  width: 115px;
}

input::placeholder {
  color: #533207;
}

label {
  color: #533207;
  font-size: 14px;
}

legend {
  color: #533207;
  font-size: 16px;
  padding: 0 5px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 84%;
}

#cans-card-container {
  background-color: #C3501E;
  border: 2px solid #533207;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 10px 0;
}

#form {
  display: inline-block;
}

#no-cans {
  color: #533207;
  font-size: 15px;
  font-weight: 700;
}

#title-box {
  color: #666666;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 98px;
  justify-content: center;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 15px;
}

.can-label {
  font-weight: 700;
}

.can-text {
  font-size: 14px;
  padding: 3px;
}

.card {
  background-color: #25c3a3;
  border: 1px solid #12423d;
  border-radius: 10px;
  color: #12423d;
  height: 188px;
  margin: 10px;
  padding: 7px;
  width: 31%;
}

.card:hover {
  background-color: #12423d;
  border-color: #25c3a3;
  color: #25c3a3;
}

@media screen and (max-width: 980px) {
  .card {
    height: 205px;
  }
}

@media screen and (max-width: 915px) {
  .card {
    height: 172px;
    width: 47%;
  }
}

@media screen and (max-width: 852px) {
  .card {
    height: 184px;
  }
}

@media screen and (max-width: 760px) {
  .card {
    width: 64%;
  }
}

@media screen and (max-width: 650px) {
  header {
    height: 26%;
    position: relative;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 66px;
  }

  main {
    height: 74%;
  }

  #title-box {
    display: block;
    height: 54px;
    text-align: center;
    width: 100%;
  }
}


@media screen and (max-width: 500px) {
  .card {
    height: 205px;
    width: 75%;
  }
}

@media screen and (max-width: 423px) {
  button {
    display: block;
    margin: 5px auto;
  }

  .card {
    width: 90%;
  }

  #form {
    display: block;
    margin: 0 auto;
    width: 185px;
  }
}
